.description-content {
    display: inline-block;
    text-align: center;
    width: 80%;
    min-width: 350px;
 
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1s; /* Firefox < 16 */
    -ms-animation: fadein 1s; /* Internet Explorer */
    -o-animation: fadein 1s; /* Opera < 12.1 */
    animation: fadein 1s;
}

@keyframes fadein {
	from {
		opacity: 0;
		transform: translate3d(0, -5%, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

.description-content p{
    /* display: inline-block; */
    margin: 50px;
    height: 50vh;
    padding: 50px;
    background-color: whitesmoke;
}